html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-primary{
  color: #0F5E79 !important;
}

.btn-primary{
  background-color: #0F5E79 !important;
  border-color: #0F5E79 !important;
}

.btn-outline-primary{
  color: #0F5E79 !important;
  border-color: #0F5E79 !important;
}

.btn-primary:hover{
  background-color: #0e3f50 !important;
  border-color: #0e3f50 !important;
}

.btn-outline-primary:hover{
  background-color: #0F5E79 !important;
  color: #ffffff !important;
  border-color: #0F5E79 !important;
}