html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-primary{
  color: #0F5E79 !important;
}

.btn-primary{
  background-color: #0F5E79 !important;
  border-color: #0F5E79 !important;
}

.btn-outline-primary{
  color: #0F5E79 !important;
  border-color: #0F5E79 !important;
}

.btn-primary:hover{
  background-color: #0e3f50 !important;
  border-color: #0e3f50 !important;
}

.btn-outline-primary:hover{
  background-color: #0F5E79 !important;
  color: #ffffff !important;
  border-color: #0F5E79 !important;
}

#section1{
  background-image: url('/img/pexels-andrea-piacquadio-3768140.jpg');
  background-size: 100%;
  background-position: 0 -300px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 600 !important;
}
.w-30px{
  width: 2rem !important;
}
.h-30px{
  height: 2rem !important;
}
.w-logo{
  width: 12.5rem;
}
.h-button-event{
  height:35px;
}
.spacing-plus-button-event{
  margin-right:0.5rem;
}
.z-index-top{
  z-index: 30;
}
.w-20px{
  width : 20px;
}
.nav-button, .active {
  box-sizing : border-box;
  border-bottom: 0.2rem ;
}
.nav-button:not(.active .nav-button):hover,  .active {
  border-bottom: solid #0F5E79;
}
/* .active .nav-button:hover */
.z-index-img-vitrine{
  z-index:0;
}
.bg-primary{
  background-color: #0F5E79 !important;
}
.border-primary{
  border-color: #0F5E79 !important;
}
.footer-button-size{
  font-size:0.75em;
}

button,select{
  all: unset;
}
.p-nav{
  padding-top: 5rem;
}

.opacity-90{
  opacity:90%;
}
.cursor-pointer{
  cursor : pointer;
}
.h-page-70{
  height: 70vh;
}
.square-page-number{
  width : 2rem;
  height : 2rem;
}
.h-ligne{
  height:0.4rem;
}
.p-ligne{
  padding : 0 5rem;  
}
.bg-light-gray{
  background-color: #EEEEEE;
}
.bg-yellow{
  background-color:#ffc100;
}
 .top-name-page{
   top: 3.5rem;
 }
 .nowrap{
   white-space : nowrap;
 }

 .border-light-gray{
   border-color : #ececec;
 }
 .flex-basis-50{
  flex-basis: 50%;
}
.flex-basis-100{
  flex-basis: 100%;
}
.pb-num-pages{
    padding-bottom: 3rem;
}

.talkbubble, .content-box{
  box-sizing: content-box;
}

.talkbubble:before {
  content: "";
  position: absolute;
  left: 45% ;
  right: 45% ;

  bottom:  100%;
  width: 0;
  height: 0;
  border-left: 0.4rem solid transparent;
  border-bottom: 0.8rem solid #ffc100;;
  border-right: 0.4rem solid transparent;
}
 .text-gray{
   color:#a7a7a7;
 }
.w-form-page{
  width:min(60rem,90vw);
}
/* .form-check-padding{
  padding-left:-1.5em
} */
.form-check-input-custom{
  float:none !important;
  margin-left : 0em !important;
}
.w-button{
  width: 6rem;
}
.text-mdp-ok{
  color:#6ba739;
}
.text-mdp-gray{
  color:#858585;
}
.bg-mdp-ok{
  background-color:#6ba739;
}
.bg-mdp-gray{
  background-color:#858585;
}
.fs-mdp-icon{
  font-size:0.55rem;
}
<<<<<<< HEAD
.h-full{
  max-height: calc(100%-5rem);
}
.card {
  width: 300px; /*1*/
  border-radius: 15px;
  background-color: white; /*3*/
  box-shadow: 0px 5px 20px #999; /*4*/
  overflow: hidden;
  margin-left: 25px;

}

.card-button1 {
  width: 85px;
  height: 25px;
  font: size 8px;;
  margin-top: 5px ;
  margin-left: 175px;
  background-color: #0F5E79;

}

.card-button2 {
  width: 85px;
  height: 20px;
  font-size:0.75em;
  margin-left: 15px;
}
=======
/* .h-full{
  max-height: calc(100%-20rem);
} */
.h-img-inscription3{
  height:20rem;
}
.h-img-inscription2{
  height:25rem;
}
.h-img-inscription1{
  height:22rem;
}
.transform-scale{
  transform: scale(0.8);
  transform-origin: 0% 0% 0px;
}
select .w-select{
  width:unset !important;
}
.h-text-area{
  height:7rem;
}
.w-30{
  width:30%;
}
.react-calendar__navigation{
  text-align:center;
  background-color:#e6e6e6;
}
/* .react-calendar__month-view__weekdays__weekday,.react-calendar{
  background-color:#ebebeb;
} */
.react-calendar__month-view__days__day--weekend:not(.react-calendar__month-view__days__day--neighboringMonth) abbr{ 
  color:#0F5E79;
}
.form .react-calendar{
  border-style:none;
  background-color:#f2f2f2;
  margin:1rem 0;
}
>>>>>>> ca3aec3885671f69c74b1769359d80ff7e2d574f
